{% extends 'base.html' %}

{% block title %}Password Changed{% endblock title %}

{% block content %}
    <div class="container">
        <p class="title-form">Password Changed</p>
        <div class="card post-form">
            <div class="card-body" style="display:flex;justify-content:center;align-items:center;flex-direction:column;">
                <p>You have updated your password!</p>
                <a class="post-submit" href="{% url 'home' %}" style="text-decoration: none;">Go back home</a>
            </div>
        </div>
    </div>
{% endblock content %}