{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class="welcome-box">
        <div class="contact">
            <div class="contact-phone">
                <i class="fa-solid fa-phone"></i>
                <p>Give us a call!</p>
                <p>000-111-222</p>
            </div>
            <div class="contact-mail">
                <i class="fa-solid fa-envelope"></i>
                <p>Send us an email!</p>
                <p>news@mail.com</p>
            </div>
        </div>
    </div>
{% endblock content %}