{% extends "base.html" %}

{% block title %}Delete Article{% endblock title %}

{% block content %}
    <div class="container">
        <p class="title-form">Delete an Article</p>
        <div class="card article-form">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.as_p }}
                    </div>
                    <p>Are you sure you want to delete "{{ article.title }}"?</p>
                    <button class="article-submit" type="submit" style="margin-top:15px;">Confirm</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}